# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [42]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [43]:
import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
data = pd.read_csv(url, sep="\t")
data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [44]:
chipo = data
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [45]:
chipo.loc[:9]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [46]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [47]:
# Solution 1
chipo.shape[0]

4622

In [48]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

5

In [49]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [50]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [51]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [52]:
chipo[["item_name","quantity"]]

                                  item_name  quantity
0              Chips and Fresh Tomato Salsa         1
1                                      Izze         1
2                          Nantucket Nectar         1
3     Chips and Tomatillo-Green Chili Salsa         1
4                              Chicken Bowl         2
...                                     ...       ...
4617                          Steak Burrito         1
4618                          Steak Burrito         1
4619                     Chicken Salad Bowl         1
4620                     Chicken Salad Bowl         1
4621                     Chicken Salad Bowl         1

[4622 rows x 2 columns]

In [95]:
mas_vendido = chipo.groupby("item_name").sum()
mas_vendido

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [103]:
orden = mas_vendido.sort_values("quantity")
orden

                                       order_id  quantity
item_name
Carnitas Salad                             1500         1
Veggie Crispy Tacos                         668         1
Chips and Mild Fresh Tomato Salsa           279         1
Crispy Tacos                                434         2
Salad                                      1150         2
Bowl                                        472         4
Steak Salad                                2362         4
Veggie Salad                               7265         6
Carnitas Salad Bowl                        6693         6
Burrito                                    1550         6
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Chicken Salad                             10465         9
Barbacoa Salad Bowl                        9708        10
Barbacoa Crispy Tacos                      5613        12
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Izze                                      10587        20
Chips and Roasted Chili Corn Salsa        14999        23
Barbacoa Soft Tacos                       18725        25
Chips and Tomatillo-Red Chili Salsa       18344        25
Nantucket Nectar                          21814        29
Steak Salad Bowl                          29590        31
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Crispy Tacos                        35818        36
Carnitas Soft Tacos                       37673        40
Chips and Tomatillo Green Chili Salsa     41170        45
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Red Chili Salsa       45556        50
6 Pack Soft Drink                         52322        55
Steak Soft Tacos                          50177        56
Carnitas Burrito                          51652        60
Barbacoa Bowl                             53972        66
Carnitas Bowl                             62742        71
Veggie Bowl                               72270        87
Barbacoa Burrito                          74718        91
Veggie Burrito                            80962        97
Side of Chips                             84769       110
Chicken Soft Tacos                        98395       120
Chicken Salad Bowl                       117104       123
Canned Soda                               76396       126
Chips and Fresh Tomato Salsa             100419       130
Bottled Water                            175944       211
Steak Bowl                               193752       221
Chips                                    208004       230
Canned Soft Drink                        304753       351
Steak Burrito                            328437       386
Chips and Guacamole                      449959       506
Chicken Burrito                          497303       591
Chicken Bowl                             713926       761

In [104]:
orden.tail(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [108]:
chipo.quantity[0]= chipo.quantity[0]*2

In [109]:
chipo.quantity[0]

2

In [101]:
mas_vendido.sort_values('quantity',ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [54]:
chipo.item_name.value_counts().max()

726

In [55]:
chipo.item_name.value_counts().sort_values()

Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Salad                                      2
Bowl                                       2
Crispy Tacos                               2
Steak Salad                                4
Carnitas Salad Bowl                        6
Veggie Salad                               6
Burrito                                    6
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Chicken Salad                              9
Barbacoa Salad Bowl                       10
Barbacoa Crispy Tacos                     11
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Chips and Roasted Chili Corn Salsa        22
Barbacoa Soft Tacos                       25
Nantucket Nectar                          27
Steak Salad Bowl                          29
Chips and Tomatillo-Green Chili Salsa     31
Steak Crispy Tacos                        35
Carnitas Soft Tacos                       40
Chips and Tomatillo Green Chili Salsa     43
Chicken Crispy Tacos                      47
Chips and Tomatillo Red Chili Salsa       48
6 Pack Soft Drink                         54
Steak Soft Tacos                          55
Carnitas Burrito                          59
Barbacoa Bowl                             66
Carnitas Bowl                             68
Veggie Bowl                               85
Barbacoa Burrito                          91
Veggie Burrito                            95
Side of Chips                            101
Canned Soda                              104
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Chicken Soft Tacos                       115
Bottled Water                            162
Chips                                    211
Steak Bowl                               211
Canned Soft Drink                        301
Steak Burrito                            368
Chips and Guacamole                      479
Chicken Burrito                          553
Chicken Bowl                             726
Name: item_name, dtype: int64

In [96]:
mas_vendido.head()

                       order_id  quantity
item_name
6 Pack Soft Drink         52322        55
Barbacoa Bowl             53972        66
Barbacoa Burrito          74718        91
Barbacoa Crispy Tacos      5613        12
Barbacoa Salad Bowl        9708        10

In [97]:
mas_vendido.sort_values("item_name").tail(1)

                   order_id  quantity
item_name
Veggie Soft Tacos      5520         8

In [56]:
chipo.quantity.max()

15

In [57]:
mas_vendido = mas_vendido.reset_index()# aqui borro el index que ahora era el nombre del "item_name", porque al crear el "groupby("item_name")" me transforma la columna item_name en index.
mas_vendido

                                item_name  order_id  quantity
0                       6 Pack Soft Drink     52322        55
1                           Barbacoa Bowl     53972        66
2                        Barbacoa Burrito     74718        91
3                   Barbacoa Crispy Tacos      5613        12
4                     Barbacoa Salad Bowl      9708        10
5                     Barbacoa Soft Tacos     18725        25
6                           Bottled Water    175944       211
7                                    Bowl       472         4
8                                 Burrito      1550         6
9                             Canned Soda     76396       126
10                      Canned Soft Drink    304753       351
11                          Carnitas Bowl     62742        71
12                       Carnitas Burrito     51652        60
13                  Carnitas Crispy Tacos      5868         8
14                         Carnitas Salad      1500         1
15                    Carnitas Salad Bowl      6693         6
16                    Carnitas Soft Tacos     37673        40
17                           Chicken Bowl    713926       761
18                        Chicken Burrito    497303       591
19                   Chicken Crispy Tacos     47382        50
20                          Chicken Salad     10465         9
21                     Chicken Salad Bowl    117104       123
22                     Chicken Soft Tacos     98395       120
23                                  Chips    208004       230
24           Chips and Fresh Tomato Salsa    100419       130
25                    Chips and Guacamole    449959       506
26      Chips and Mild Fresh Tomato Salsa       279         1
27     Chips and Roasted Chili Corn Salsa     14999        23
28     Chips and Roasted Chili-Corn Salsa     17462        18
29  Chips and Tomatillo Green Chili Salsa     41170        45
30    Chips and Tomatillo Red Chili Salsa     45556        50
31  Chips and Tomatillo-Green Chili Salsa     21826        33
32    Chips and Tomatillo-Red Chili Salsa     18344        25
33                           Crispy Tacos       434         2
34                                   Izze     10587        20
35                       Nantucket Nectar     21814        29
36                                  Salad      1150         2
37                          Side of Chips     84769       110
38                             Steak Bowl    193752       221
39                          Steak Burrito    328437       386
40                     Steak Crispy Tacos     35818        36
41                            Steak Salad      2362         4
42                       Steak Salad Bowl     29590        31
43                       Steak Soft Tacos     50177        56
44                            Veggie Bowl     72270        87
45                         Veggie Burrito     80962        97
46                    Veggie Crispy Tacos       668         1
47                           Veggie Salad      7265         6
48                      Veggie Salad Bowl     17303        18
49                      Veggie Soft Tacos      5520         8

In [58]:
mas_vendido.head() # me da los cinco primeros

               item_name  order_id  quantity
0      6 Pack Soft Drink     52322        55
1          Barbacoa Bowl     53972        66
2       Barbacoa Burrito     74718        91
3  Barbacoa Crispy Tacos      5613        12
4    Barbacoa Salad Bowl      9708        10

In [59]:
mas_vendido.max()

item_name    Veggie Soft Tacos
order_id                713926
quantity                   761
dtype: object

In [60]:
mas_vendido = chipo.groupby("item_name").sum().max()
mas_vendido

order_id    713926
quantity       761
dtype: int64

In [74]:
mas_vendido.head()

order_id    713926
quantity       761
dtype: int64

In [62]:
chipo.("item_name").agg(lambda df: df.values[df["item_name"].values.argmax()])

SyntaxError: invalid syntax (<ipython-input-62-06ab6d35734a>, line 1)

In [63]:
mas_vendido.describe()

count         2.000000
mean     357343.500000
std      504283.807605
min         761.000000
25%      179052.250000
50%      357343.500000
75%      535634.750000
max      713926.000000
dtype: float64

In [79]:
mas_vendido = chipo.groupby("item_name").sum().max()
mas_vendido

order_id    713926
quantity       761
dtype: int64

In [65]:
mas_vendido.quantity.max()

761

### Step 10. For the most-ordered item, how many items were ordered?

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [94]:
mas_vendido.quantity.max()

761

### Step 11. What was the most ordered item in the choice_description column?

In [67]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [68]:
most_ordered = chipo.groupby("choice_description").sum()
most_ordered

                                                    order_id  quantity
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...       214         1
[Adobo-Marinated and Grilled Chicken, [Sour Cre...       279         1
[Adobo-Marinated and Grilled Chicken]                    217         1
[Adobo-Marinated and Grilled Steak, [Sour Cream...       279         1
[Adobo-Marinated and Grilled Steak]                      217         1
...                                                      ...       ...
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      2576         2
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1215         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...        51         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

In [69]:
most_ordered = chipo.groupby("choice_description").sum().max()
most_ordered

order_id    123455
quantity       159
dtype: int64

### Step 12. How many items were orderd in total?

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

1834

### Step 16. What is the average revenue amount per order?

In [70]:
# Solution 1

In [71]:
# Solution 2

### Step 17. How many different items are sold?

50