# Ejercicio La Biblioteca | Precurso DSJUN20 | The Bridge

![biblioteca](https://static2.abc.es/media/familia/2018/11/02/AdobeStock_210538561-kJTF--620x349@abc.jpg)

Es tu primer día de trabajo en la Biblioteca de tu barrio y ya tienes tu primera tarea. Te acaban de pasar una lista con libros y la lista de unidades disponibles.

In [1]:
libros = ["El mal de Corcira", "Un mundo feliz", "Lolita", "Crimen y castigo", "Python from for to pro",\
          "El señor de los anillos", "Cien años de soledad", "Harry Potter", "Lectura Fácil", "Seda",\
          "La chica de nieve", "El día que se perdió la cordura", "Data Science"]

In [2]:
biblioteca = [("El mal de Corcira",4),("Un mundo feliz", 2),("Lolita", 5),\
              ("Crimen y castigo",2),("Python from for to pro", 0),("El señor de los anillos", 6),\
              ("Cien años de soledad", 5),("Harry Potter", 9),("Lectura Fácil", 4),("Seda", 2),\
              ("La chica de nieve", 6),("El día que se perdió la cordura", 3), ("Data Science", 0)]

1. ¿Cuántos títulos diferentes tienen en esta biblioteca?

In [3]:
#your code here creo una variable a para convertir la lista en un set puesto que el set no repite elementos. luego imprimo la variable con len para que me de el numero.
a=set(libros)

print(len(a))

13

In [4]:
#your code here
x = len("Seda")
print(x)

4

In [5]:
print(len(biblioteca[9][0]))

4

In [6]:
for _ in biblioteca:
    print(_)

('El mal de Corcira', 4)
('Un mundo feliz', 2)
('Lolita', 5)
('Crimen y castigo', 2)
('Python from for to pro', 0)
('El señor de los anillos', 6)
('Cien años de soledad', 5)
('Harry Potter', 9)
('Lectura Fácil', 4)
('Seda', 2)
('La chica de nieve', 6)
('El día que se perdió la cordura', 3)
('Data Science', 0)

In [7]:
for u in biblioteca:
    if u[0] == "Seda":
        print(len(u[0]))

4

3. ¿Cuántas unidades hay del libro *Seda*?

In [8]:
#your code here # con bucle for recorro toda la lista, y le digo que para u que representa a los elementos de la lista, la recorra y cuando encuentte la tupla que tiene seda compare la posición 0 que es la del str y si coincide con la palabra seda imprima la posición 1 que es num de la tupla. 
for u in biblioteca:
    if u[0] == "Seda":
        print(u[1])

2

4. Quien registraba los libros antes de ti dejo pendiente de añadir a la lista **libros** la variable **pendiente**, además debió confundir el famoso libro de George Orwell *1984*, con un número, asignándolo como un integer.
¿Puedes cambiarlo y pasar a string este elemento y añadirlo a **libros**?

In [9]:
pendiente = 1984

In [10]:
pendiente=str(1984)
libros.append(pendiente)
print(libros)

['El mal de Corcira', 'Un mundo feliz', 'Lolita', 'Crimen y castigo', 'Python from for to pro', 'El señor de los anillos', 'Cien años de soledad', 'Harry Potter', 'Lectura Fácil', 'Seda', 'La chica de nieve', 'El día que se perdió la cordura', 'Data Science', '1984']

5. Te piden que añadas a esta lista el nuevo libro de Los Juegos del hambre que se titula *Balada de pájaros cantores y serpientes*. Has contado las unidades y han llegado 10. 

    a. Crea una variable con el título del libro, que se llame **libro_1**. Añade este elemento a la lista **libros**.

    b. Crea una variable con el número de unidades, que se llame **uds_1**.

    c. Crea una variable que sea una lista llamada **nuevo_libro** en el que su primer elemento sea **libro_1** y el segundo **uds_1**. 

    d. Convierte a **nuevo_libro** a tupla.
    (muestra qué tipo es ahora esta variable)

    e. Añade **nuevo_libro** a la lista **biblioteca**

In [11]:
#your code here
libro_1 = "Balada de pájaros cantores y serpientes"
libros.append(libro_1) #con esto ya meto en la lista libros la variable libro_1 que tiene el titulo que quiero añadir.
uds_1=10
nuevo_libro=(libro_1,uds_1)
biblioteca.append(nuevo_libro)
print(biblioteca) #creo una nueva variable con las variables que he creado antes libro y unds. 
# creamos una variable con el titulo nuevo, luego otra variable con las unidades, luego en una variable nueva de tipo tupla la creamos con la info de las anteriores variables, asi me da ya un atupla con titulo y unds. Luego añado esa nueva variable que es una tupa a mi lista biblioteca.BaseException

[('El mal de Corcira', 4), ('Un mundo feliz', 2), ('Lolita', 5), ('Crimen y castigo', 2), ('Python from for to pro', 0), ('El señor de los anillos', 6), ('Cien años de soledad', 5), ('Harry Potter', 9), ('Lectura Fácil', 4), ('Seda', 2), ('La chica de nieve', 6), ('El día que se perdió la cordura', 3), ('Data Science', 0), ('Balada de pájaros cantores y serpientes', 10)]

In [12]:
nuevo_libro = [libro_1, uds_1]
print(type(nuevo_libro))
nuevo_libro = tuple(nuevo_libro)
print(type(nuevo_libro))

<class 'list'>
<class 'tuple'>

In [13]:
biblioteca.append(nuevo_libro)
biblioteca

[('El mal de Corcira', 4),
 ('Un mundo feliz', 2),
 ('Lolita', 5),
 ('Crimen y castigo', 2),
 ('Python from for to pro', 0),
 ('El señor de los anillos', 6),
 ('Cien años de soledad', 5),
 ('Harry Potter', 9),
 ('Lectura Fácil', 4),
 ('Seda', 2),
 ('La chica de nieve', 6),
 ('El día que se perdió la cordura', 3),
 ('Data Science', 0),
 ('Balada de pájaros cantores y serpientes', 10),
 ('Balada de pájaros cantores y serpientes', 10)]

In [14]:
nuevo_libro2 = (libro_1, uds_1)
print(type(nuevo_libro2))
nuevo_libro2

<class 'tuple'>

('Balada de pájaros cantores y serpientes', 10)

In [15]:
type(nuevo_libro2[0])

str

6. Acaban de traer una unidad más de *El mal de Corcira*, añade una unidad más al segundo elemento del primer elemento de la lista **biblioteca**.

In [16]:
biblioteca

[('El mal de Corcira', 4),
 ('Un mundo feliz', 2),
 ('Lolita', 5),
 ('Crimen y castigo', 2),
 ('Python from for to pro', 0),
 ('El señor de los anillos', 6),
 ('Cien años de soledad', 5),
 ('Harry Potter', 9),
 ('Lectura Fácil', 4),
 ('Seda', 2),
 ('La chica de nieve', 6),
 ('El día que se perdió la cordura', 3),
 ('Data Science', 0),
 ('Balada de pájaros cantores y serpientes', 10),
 ('Balada de pájaros cantores y serpientes', 10)]

In [17]:
t = (biblioteca[0])
t

('El mal de Corcira', 4)

In [18]:
t[1] = t[1] + 1
t

TypeError: 'tuple' object does not support item assignment

In [19]:
t = tuple(t)
t

('El mal de Corcira', 4)

In [20]:
biblioteca[0] = t
biblioteca

[('El mal de Corcira', 4),
 ('Un mundo feliz', 2),
 ('Lolita', 5),
 ('Crimen y castigo', 2),
 ('Python from for to pro', 0),
 ('El señor de los anillos', 6),
 ('Cien años de soledad', 5),
 ('Harry Potter', 9),
 ('Lectura Fácil', 4),
 ('Seda', 2),
 ('La chica de nieve', 6),
 ('El día que se perdió la cordura', 3),
 ('Data Science', 0),
 ('Balada de pájaros cantores y serpientes', 10),
 ('Balada de pájaros cantores y serpientes', 10)]

Busca en google este error y explica porqué no se puede añadir una unidad más. ¿Se te ocurre cómo podrías alterar este dato?

In [21]:
#your comment here

Convierte la tupla en una lista para poder modificar el segundo elemento y añadir esta unidad. Asigna la tupla convertida a lista a la variable **tup_to_list** haz los cambios, agrega la unidad y vuelve a añadir la lista ya convertida en tupla a la lista **biblioteca**.

In [22]:
#your code here

Ahora, tenemos dos tuplas con el libro *El mal de Corcira*, pero esto no es lo que queremos. Elimina el primer elemento de la lista **biblioteca**.

Hint: https://www.programiz.com/python-programming/methods/list/remove

In [23]:
#your code here
y = ('El mal de Corcira', 5)
biblioteca.append(y)
biblioteca

[('El mal de Corcira', 4),
 ('Un mundo feliz', 2),
 ('Lolita', 5),
 ('Crimen y castigo', 2),
 ('Python from for to pro', 0),
 ('El señor de los anillos', 6),
 ('Cien años de soledad', 5),
 ('Harry Potter', 9),
 ('Lectura Fácil', 4),
 ('Seda', 2),
 ('La chica de nieve', 6),
 ('El día que se perdió la cordura', 3),
 ('Data Science', 0),
 ('Balada de pájaros cantores y serpientes', 10),
 ('Balada de pájaros cantores y serpientes', 10),
 ('El mal de Corcira', 5)]

In [24]:
biblioteca.pop()

('El mal de Corcira', 5)

In [25]:
i = ('El mal de Corcira', 5)
biblioteca.remove(i)

ValueError: list.remove(x): x not in list

In [26]:
biblioteca

[('El mal de Corcira', 4),
 ('Un mundo feliz', 2),
 ('Lolita', 5),
 ('Crimen y castigo', 2),
 ('Python from for to pro', 0),
 ('El señor de los anillos', 6),
 ('Cien años de soledad', 5),
 ('Harry Potter', 9),
 ('Lectura Fácil', 4),
 ('Seda', 2),
 ('La chica de nieve', 6),
 ('El día que se perdió la cordura', 3),
 ('Data Science', 0),
 ('Balada de pájaros cantores y serpientes', 10),
 ('Balada de pájaros cantores y serpientes', 10)]

7. Te han pedido que localices los títulos de los libros de los que no disponen de unidades. Es decir, su segundo elemento, es igual a 0.

In [27]:
biblioteca

[('El mal de Corcira', 4),
 ('Un mundo feliz', 2),
 ('Lolita', 5),
 ('Crimen y castigo', 2),
 ('Python from for to pro', 0),
 ('El señor de los anillos', 6),
 ('Cien años de soledad', 5),
 ('Harry Potter', 9),
 ('Lectura Fácil', 4),
 ('Seda', 2),
 ('La chica de nieve', 6),
 ('El día que se perdió la cordura', 3),
 ('Data Science', 0),
 ('Balada de pájaros cantores y serpientes', 10),
 ('Balada de pájaros cantores y serpientes', 10)]

In [28]:
for elem in biblioteca:
    if elem[1] == 0:
        print(elem[0]) #con corchetes 1 elijo que el for que recorre toda la lista evalue que el dato unds sea =0

Python from for to pro
Data Science

Bonus:
¿Cómo meterías estos dos elementos en una lista llamada **missing**?

In [29]:
#your code here
missing = [] #creo la lista vacia donde voy a meter los valores

for elem in biblioteca: #utilizo for porque recorre toda la lista para comprobar todos los elementos
    if elem[1] == 0:  # pongo condición de que la posición 1 de cada elemento (que son tuplas) si es igual a 0 qie me lo guarde en otra variable.
        libro_sin_unidad = elem[0] 
        missing.append(libro_sin_unidad)
        print(missing)

['Python from for to pro']
['Python from for to pro', 'Data Science']