# Data Science Bootcamp - The Bridge 
## Precurso
En este notebook vamos a ver, uno a uno, los conceptos básicos de Python. Constarán de ejercicios prácticos acompañados de una explicación teórica dada por el profesor.

Los siguientes enlaces están recomendados para el alumno para profundizar y reforzar conceptos a partir de  ejercicios y ejemplos:

- https://facundoq.github.io/courses/aa2018/res/02_python.html

- https://www.w3resource.com/python-exercises/

- https://www.practicepython.org/

- https://es.slideshare.net/egutierrezru/python-paraprincipiantes

- https://www.sololearn.com/Play/Python#

- https://github.com/mhkmcp/Python-Bootcamp-from-Basic-to-Advanced

Ejercicios avanzados:

- https://github.com/darkprinx/100-plus-Python-programming-exercises-extended/tree/master/Status (++)

- https://github.com/mahtab04/Python-Programming-Practice (++)

- https://github.com/whojayantkumar/Python_Programs (+++)

- https://www.w3resource.com/python-exercises/ (++++)

- https://github.com/fupus/notebooks-ejercicios (+++++)

Tutor de ayuda PythonTutor:

- http://pythontutor.com/

## 1. Variables y tipos

### Cadenas

In [19]:
x=2

print(2)

2

In [24]:
x=2

print(2)

2

In [6]:
print("companero")

companero

In [28]:
print("Hello Python world!")
print("Nombre de compañero")

Hello Python world!
Nombre de compañero

In [73]:
print("Hello Python world!")
print("Nombre de compañero")
print(type("Hello Python world!"))

Hello Python world!
Nombre de compañero
<class 'str'>

In [29]:
string2 = "33"
suma2 = string_ + string2
print(suma2)

2333

In [103]:
string_= "filipa"
string2= "fernando"
multiplicación=string_*2
print(multiplicación)

filipafilipa

In [82]:
a = "filipa12"
b = "filipa12"
c = [1, 2, 3, 4]
suma2 = a + b
print(suma2)
print(type(a))
print(c)
print(type(c))

filipa12filipa12
<class 'str'>
[1, 2, 3, 4]
<class 'list'>

In [51]:
string2 = "33"
suma2 = string2 + string2
print(suma2)

3333

In [83]:
# String, Integer, Float, List, None (NaN)
# str, int, float, list, 

string_ = "33"
numero = 23

#print(type(string_))
print(type(numero))
print(type(string_))

<class 'int'>
<class 'str'>

In [92]:
string_ = "23"
string2 = "33"
suma = string_ + string2
print(suma)

print(type(numero))

string_= "4"
string2= "5"
suma=string_+string2
print(suma)

2333
<class 'int'>
45

In [57]:
numero2 = 10
suma = numero + numero2
print(suma)

33

In [54]:
numero2 = 10
suma = numero2 + numero
print(suma)

33

In [9]:
string3 = "10"
numero_a_partir_de_string = int(string3)
print(numero_a_partir_de_string)
print(string3)

print(type(numero_a_partir_de_string))
print(type(string3))

10
10
<class 'int'>
<class 'str'>

In [86]:
a=7
b=6
multiplicacion =a*b
print(multiplicacion)

42

In [64]:
num1 = 12
num2 = 3

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2 
division = num1 / num2

gabriel_vazquez = "Gabriel Vazquez"

print(suma)
print(resta)
print(multiplicacion)
print(division)
print(type(suma))
print(type(resta))
print(type(division))
print(gabriel_vazquez)

15
9
36
4.0
<class 'int'>
<class 'int'>
<class 'float'>
Gabriel Vazquez

In [66]:
# Soy un comentario
# print("Hello Python world!")

In [67]:
message2 = "One of Python's strengths is its diverse community." 
print(message2)

One of Python's strengths is its diverse community.

## Ejercicio: 
### Crear una nueva celda.
### Declarar tres variables: 
- Una con el nombre "edad" con valor vuestra edad
- Otra "edad_compañero_der" que contengan la edad de tipo entero de vuestro compañero de la derecha
- Otra "suma_anterior" que contenga la suma de las dos variables anteriormente declaradas

 Mostrar por pantalla la variable "suma_anterior"

In [68]:
edad = 34

edad_companero_de = 40

suma = edad + edad_companero_de

print(suma)

74

In [111]:
name = "Ada Lovelace"
x = 2
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [114]:
x = "love learning"
print(x.upper())

LOVE LEARNING

## 2. Números y operadores

In [15]:
### Enteros ###

x = 3 

print("- Tipo de x:")
print(type(x)) # Imprime el tipo (o `clase`) de x
print("- Valor de x:")
print(x)       # Imprimir un valor
print("- x+1:")
print(x + 1)   # Suma: imprime "4"
print("- x-1:")
print(x - 1)   # Resta; imprime "2"
print("- x*2:")
print(x * 2)   # Multiplicación; imprime "6"
print("- x^2:")
print(x ** 2)  # Exponenciación; imprime "9"
# Modificación de x
x += 1 
print("- x modificado:")
print(x)  # Imprime "4"

x *= 2
print("- x modificado:")
print(x)  # Imprime "8"

print("- Varias cosas en una línea:")
print(1,2,x,5*2) # imprime varias cosas a la vez

- Tipo de x:
<class 'int'>
- Valor de x:
3
- x+1:
4
- x-1:
2
- x*2:
6
- x^2:
9
- x modificado:
4
- x modificado:
8
- Varias cosas en una línea:
1 2 8 10

In [70]:
y = 2.5 
print("- Tipo de y:")
print(type(y)) # Imprime el tipo de y
print("- Varios valores en punto flotante:")
print(y, y + 1, y * 2.5, y ** 2) # Imprime varios números en punto flotante

- Tipo de y:
<class 'float'>
- Varios valores en punto flotante:
2.5 3.5 6.25 6.25

In [110]:
f =2
print(f +1)
print(f*3)

f *=2
print(f)
print(f, f+1, f*2, f**2)

3
6
4
4 5 8 16

## 3. Tipo None

In [ ]:
x = None

## 4. Listas y colecciones

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0]

print(bicycles)
print(message)

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(too_expensive + " is too expensive for me.")

## 4. Iteraciones, For

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli'] 

print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())


#for player in players[0:3]:

In [ ]:
dimensions = (200, 50)
for dimension in dimensions:
    print(dimension)

## 5. Condiciones: if, elif, else

In [ ]:
if 1 != 1:
    print("Son iguales")
else:
    print("No entra en if")

In [ ]:
if 1>3:
    print("Es mayor")
elif 2==2:
    print("Es igual")
else:
    print("Ninguna de las anteriores")

In [ ]:
if 2>3:
    print(1)
else:
    print("Primer else")
if 2==2:
    print(2)
else:
    print("Segundo else")

In [ ]:
def funcion_condicion():
    if y > 4:
        print("Es mayor a 4")
    else:
        print("No es mayor a 4")

funcion_condicion(y=4)

In [ ]:
def funcion_primera(x):
    if x == 4:
        print("Es igual a 4")
    else:
        funcion_condicion(y=x)

funcion_primera(x=5)

In [ ]:
def funcion_final(apellido):
    if len(apellido) > 5:
        print("Cumple condición")
    else:
        print("No cumpole condición")

funcion_final(apellido="Vazquez")

# Bucles For, While

In [ ]:
lista = [1, "dos", 3, "Pepito"] 

print(lista[0])
print(lista[1])
print(lista[2])
print(lista[3])

In [ ]:
for p in lista:
    print(p)

In [ ]:
altura1 = [1.78, 1.63, 1.75, 1.68]
altura2 = [2.00, 1.82]
altura3 = [1.65, 1.73, 1.75]
altura4 = [1.72, 1.71, 1.71, 1.62]

lista_alturas = [altura1, altura2, altura3, altura4]

print(lista_alturas[0][1])

for x in lista_alturas:
    print(x[3])

In [ ]:
def mostrar_cada_elemento_de_lista(lista):
    for x in lista:
        print(x)

mostrar_cada_elemento_de_lista(lista=lista_alturas)

In [ ]:
mostrar_cada_elemento_de_lista(lista=lista)

In [ ]:
for x in lista_alturas:
    if len(x) > 2:
        print(x[2])
    else:
        print(x[1])